<h1><%= @pirate.name %></h1>
<h1><%= @pirate.weight %></h1>
<h1><%= @pirate.height %></h1>

<h2><%= @ships.first.name %></h2>
<h2><%= @ships.first.type %></h2>
<h2><%= @ships.first.booty %></h2>


<h2><%= @ships.last.name %></h2>
<h2><%= @ships.last.type %></h2>
<h2><%= @ships.last.booty %></h2>
