<h1>Display your Pirate here</h1>
<%=@pirate.name%><br>
<%=@pirate.weight%><br>
<%=@pirate.height%><br>

<h2>Display your first ship here</h2>
<%=@ship1.name%><br>
<%=@ship1.type%><br>
<%=@ship1.booty%><br>

<h2>Display your second ship here</h2>
<%=@ship2.name%><br>
<%=@ship2.type%><br>
<%=@ship2.booty%><br>
