<h1><%= @pirate.name %></h1>
<h2><%= @pirate.weight %></h2>
<h2><%= @pirate.height %><h2>


<h1><%= @ship1.name %></h1>
<h2><%= @ship1.type %></h2>
<h2><%= @ship1.booty %><h2>


  <h1><%= @ship2.name %></h1>
  <h2><%= @ship2.type %></h2>
  <h2><%= @ship2.booty %><h2>
