<h1>WHAT'S THEIR NAME?? <%= @pirate.name %></h1>
<h1>HOW TALL? <%= @pirate.height %></h1>
<h1>HOW BIG? <%= @pirate.weight %></h1>

<h2>ONE OF THE SHIPS: <%= @shippy_ships[0].name %></h2>
<h2>WHAT TYPE? <%= @shippy_ships[0].type %></h2>
<h2>HOW MUCH BOOTY?? <%= @shippy_ships[0].booty %></h2>

<h2>THERE'S ANOTHER? <%= @shippy_ships[1].name %></h2>
<h2>WHAT TYPE? <%= @shippy_ships[1].type %></h2>
<h2>HOW MUCH BOOOOOOTY??? <%= @shippy_ships[1].booty %></h2>
